<div class="row">
    <div class="col s12 m4" id="about-profile-img-div">
        <img src="https://raw.githubusercontent.com/gerlaneln/gerlaneln/master/docs/assets/img/profile.png" class="shadow-drop-2-center" id="about-profile-img"
            alt="Gerlâne Lima">
    </div>
    <div id="tabs-about" class="col s12 m8">

        <ul class="collapsible">
            <li>
                <div class="collapsible-header">Apresentação</div>
                <div class="collapsible-body">
                    <p>
                        Olá, meu nome é Gerlâne Lima, eu nasci em Feijó no estado do Acre, mas atualmente
                        moro em João Pessoa na Paraíba.
                    </p>
                    <p>
                        Fiz toda a minha educação básica em Feijó, até me mudar para Rio Branco, onde fiz
                        minha graduação na Universidade Federal do Acre, e minha especialização na Universidade
                        da Amazônia.
                    </p>
                    <p>
                        Dentre as áreas da tecnologia, desenvolvimento web é a que eu escolhi para me aprofundar. 
                        Hoje em dia os sistemas web estão intrincados no nosso cotidiano, e é importante que as pessoas 
                        que fazem uso deles tenham sempre a melhor experiência possível, por isso dediquei o meu trabalho 
                        de conclusão de curso ao estudo da comunicabilidade de interfaces.
                    </p>
                </div>
            </li>
            <li>
                <div class="collapsible-header">Qualificações</div>
                <div class="collapsible-body">
                    <ul id="qualifications-list">
                        <li>
                            <i class="tiny material-icons">keyboard_arrow_right</i>
                            Web Academy Treinamento Full Stack - UFAC, Instituto Eldorado e Motorola .
                        </li>
                        <li>
                            <i class="tiny material-icons">keyboard_arrow_right</i>
                            Treinamento em desenvolvimento Full Stack - Gama Academy.
                        </li>
                        <li>
                            <i class="tiny material-icons">keyboard_arrow_right</i>
                            Responsive Web Design - freeCodeCamp.
                        </li>
                        <li>
                            <i class="tiny material-icons">keyboard_arrow_right</i>
                            Especialização em Marketing e Publicidade - Universidade da Amazônia.
                        </li>
                        <li>
                            <i class="tiny material-icons">keyboard_arrow_right</i>
                            Bacharelado em Sistemas de Informação - Universidade Federal do Acre.
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="collapsible-header">Experiência</div>
                <div class="collapsible-body">
                    <li>
                        <i class="tiny material-icons">keyboard_arrow_right</i>
                        Experiência trabalhando em equipe SCRUM, atuando como SCRUM Master em 2 sprints, desenvolvendo aplicação web em Angular, Spring Boot
                        e MySQL, dentro do projeto Web Academy, parceria entre Motorola, Universidade Federal do Acre,
                        e Instituto Eldorado.
                    </li>
                    <li>
                        <i class="tiny material-icons">keyboard_arrow_right</i>
                        Experiência voluntária oferencendo serviços gráficos, e mentoria, para pequenos negócios
                        que tiveram que se reinventar na pandemia.
                    </li>
                </div>
            </li>
            <li>
                <div class="collapsible-header">Hard skills</div>
                <div class="collapsible-body">
                    <div class="row">
                        <ul class="col s12 m3">
                            <span>
                                Linguagens
                            </span>
                            <li>
                                <i class="tiny material-icons">keyboard_arrow_right</i>
                                HTML
                            </li>
                            <li>
                                <i class="tiny material-icons">keyboard_arrow_right</i>
                                CSS
                            </li>
                            <li>
                                <i class="tiny material-icons">keyboard_arrow_right</i>
                                Java Script
                            </li>
                            <li>
                                <i class="tiny material-icons">keyboard_arrow_right</i>
                                Java
                            </li>
                            <li>
                                <i class="tiny material-icons">keyboard_arrow_right</i>
                                Type Script
                            </li>
                        </ul>
                        <ul class="col s12 m3">
                            <span>
                                Frameworks
                            </span>
                            <li>
                                <i class="tiny material-icons">keyboard_arrow_right</i>
                                React JS
                            </li>
                            <li>
                                <i class="tiny material-icons">keyboard_arrow_right</i>
                                Angular 13
                            </li>
                            <li>
                                <i class="tiny material-icons">keyboard_arrow_right</i>
                                Spring Boot
                            </li>
                            <li>
                                <i class="tiny material-icons">keyboard_arrow_right</i>
                                React Native
                            </li>
                            <li>
                                <i class="tiny material-icons">keyboard_arrow_right</i>
                                Materialize CSS
                            </li>
                            <li>
                                <i class="tiny material-icons">keyboard_arrow_right</i>
                                Bootstrap
                            </li>
                        </ul>
                        <ul class="col s12 m3">
                            <span>
                                Tecnologias
                            </span>
                            <li>
                                <i class="tiny material-icons">keyboard_arrow_right</i>
                                Material UI v.5
                            </li>
                            <li>
                                <i class="tiny material-icons">keyboard_arrow_right</i>
                                Node JS
                            </li>
                            <li>
                                <i class="tiny material-icons">keyboard_arrow_right</i>
                                Mongo DB
                            </li>
                            <li>
                                <i class="tiny material-icons">keyboard_arrow_right</i>
                                Maven
                            </li>
                            <li>
                                <i class="tiny material-icons">keyboard_arrow_right</i>
                                Cypress
                            </li>
                        </ul>
                        <ul class="col s12 m3">
                            <span>
                                Idiomas
                                <a href="https://administradores.com.br/noticias/curriculo-como-informar-o-nivel-de-conhecimento-em-idiomas" 
                                    target="_blank" class="tooltipped" data-position="top" data-tooltip="Referência da classificação">
                                    <i class="tiny material-icons">open_in_new</i>
                                </a>
                            </span>
                            <li>
                                <i class="tiny material-icons">keyboard_arrow_right</i>
                                Inglês - Pós intermediário
                            </li>
                            <li>
                                <i class="tiny material-icons">keyboard_arrow_right</i>
                                Espanhol - Iniciante
                            </li>
                            <li>
                                <i class="tiny material-icons">keyboard_arrow_right</i>
                                Francês - Iniciante
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li>
                <div class="collapsible-header">Soft skills</div>
                <div class="collapsible-body">
                    <li>
                        <i class="tiny material-icons">keyboard_arrow_right</i>
                        Facilidade de aprendizado
                    </li>
                    <li>
                        <i class="tiny material-icons">keyboard_arrow_right</i>
                        Espírito de colaboração
                    </li>
                    <li>
                        <i class="tiny material-icons">keyboard_arrow_right</i>
                        Comunicação
                    </li>
                    <li>
                        <i class="tiny material-icons">keyboard_arrow_right</i>
                        Resolução de problemas
                    </li>
                </div>
            </li>
        </ul>
    </div>
</div>