<div class="row" id="social-row">
    <div class="col s6 m3 social-div" id="gmail-button">
        <a class="social-link" href="mailto:gerlima96@gmail.com" target="_blank">
            <img class="social-img" src="https://raw.githubusercontent.com/gerlaneln/gerlaneln/master/docs/assets/img/social/gmail-white.svg" alt="Gmail">
        </a>
    </div>
    <div class="col s6 m3 social-div" id="github-button">
        <a class="social-link" href="https://github.com/gerlaneln" target="_blank">
            <img class="social-img" src="https://raw.githubusercontent.com/gerlaneln/gerlaneln/master/docs/assets/img/social/github-white.svg" alt="GitHub">
        </a>
    </div>
    <div class="col s6 m3 social-div" id="likedin-button">
        <a class="social-link" href="https://www.linkedin.com/in/gerlaneln/" target="_blank">
            <img class="social-img" src="https://raw.githubusercontent.com/gerlaneln/gerlaneln/master/docs/assets/img/social/linkedin-white.svg" alt="LinkedIn">
        </a>
    </div>
    <div class="col s6 m3 social-div" id="curriculo-button">
        <a class="social-link" *ngIf="this.english == 0" href="https://raw.githubusercontent.com/gerlaneln/gerlaneln/master/docs/assets/doc/Curriculo_Gerlane_Lima.pdf" target="_blank">
            <img class="social-img" src="https://raw.githubusercontent.com/gerlaneln/gerlaneln/master/docs/assets/img/social/cv-white.svg" alt="Currículo">
        </a>
        <a class="social-link" *ngIf="this.english == 1" href="https://raw.githubusercontent.com/gerlaneln/gerlaneln/master/docs/assets/doc/CV_Gerlane_Lima.pdf" target="_blank">
            <img class="social-img" src="https://raw.githubusercontent.com/gerlaneln/gerlaneln/master/docs/assets/img/social/cv-white.svg" alt="Currículo">
        </a>
    </div>
</div>
