<div class="slider">
    <ul class="slides">

        <li>
            <img class="project-img" src="../../../assets/img/background-gausiano.png">
            <div class="caption left-align">
                <h3 class="dark black-text text-blue-grey darken-4">Fundamentos front end</h3>
                <a href="https://github.com/gerlaneln/FundamentosFrontEnd" target="_blank"
                    class="btn-floating halfway-fab waves-effect waves-light grey darken-4">
                    <i class="material-icons">code</i>
                </a>
                <span class="caption-list">HTML</span>
                <span class="caption-list">CSS</span>
                <span class="caption-list">Java Script</span>
            </div>
        </li>

        <li>
            <img class="project-img" src="../../../assets/img/background-gausiano.png">
            <div class="caption left-align">
                <h3 class="dark black-text text-blue-grey darken-4">Fundamentos back end</h3>
                <a href="https://github.com/gerlaneln/fundamentos-backend" target="_blank"
                    class="btn-floating halfway-fab waves-effect waves-light grey darken-4">
                    <i class="material-icons">code</i>
                </a>
                <span class="caption-list">HTML</span>
                <span class="caption-list">CSS</span>
                <span class="caption-list">Java Script</span>
                <span class="caption-list">Java</span>
                <span class="caption-list">Jakarta Server Pages</span>
                <span class="caption-list">Apache Tomcat</span>
            </div>
        </li>

        <li>
            <img class="project-img" src="../../../assets/img/background-gausiano.png">
            <div class="caption left-align">
                <h3 class="dark black-text text-blue-grey darken-4">Curso React Native</h3>
                <a href="https://github.com/gerlaneln/React-Native" target="_blank"
                    class="btn-floating halfway-fab waves-effect waves-light grey darken-4">
                    <i class="material-icons">code</i>
                </a>
                <span class="caption-list">Java Script</span>
                <span class="caption-list">React Native</span>
            </div>
        </li>

        <li>
            <img class="project-img" src="../../../assets/img/background-gausiano.png">
            <div class="caption left-align">
                <h3 class="dark black-text text-blue-grey darken-4">Exercício React Native</h3>
                <a href="https://github.com/gerlaneln/Treino1-ReactNative" target="_blank"
                    class="btn-floating halfway-fab waves-effect waves-light grey darken-4">
                    <i class="material-icons">code</i>
                </a>
                <span class="caption-list">Java Script</span>
                <span class="caption-list">React Native</span>
            </div>
        </li>

        <li>
            <img class="project-img" src="../../../assets/img/background-gausiano.png">
            <div class="caption left-align">
                <h3 class="dark black-text text-blue-grey darken-4">Frameworks back end</h3>
                <a href="https://github.com/gerlaneln/sgcmapi" target="_blank"
                    class="btn-floating halfway-fab waves-effect waves-light grey darken-4">
                    <i class="material-icons">code</i>
                </a>
                <span class="caption-list">Java</span>
                <span class="caption-list">Spring Boot</span>
                <span class="caption-list">Maven</span>
            </div>
        </li>

        <li>
            <img class="project-img" src="../../../assets/img/background-gausiano.png">
            <div class="caption left-align">
                <h3 class="dark black-text text-blue-grey darken-4">Frameworks front end</h3>
                <a href="https://github.com/gerlaneln/sgcmapp" target="_blank"
                    class="btn-floating halfway-fab waves-effect waves-light grey darken-4">
                    <i class="material-icons">code</i>
                </a>
                <span class="caption-list">HTML</span>
                <span class="caption-list">CSS</span>
                <span class="caption-list">Java Script</span>
                <span class="caption-list">Angular 13</span>
                <span class="caption-list">Type Script</span>
            </div>
        </li>

        <li>
            <img class="project-img" src="../../../assets/img/background-gausiano.png">
            <div class="caption left-align">
                <h3 class="dark black-text text-blue-grey darken-4">Testes Cypress</h3>
                <a href="https://github.com/gerlaneln/Cypress-SGCM" target="_blank"
                    class="btn-floating halfway-fab waves-effect waves-light grey darken-4">
                    <i class="material-icons">code</i>
                </a>
                <span class="caption-list">Java Script</span>
                <span class="caption-list">Cypress 4.1</span>
            </div>
        </li>

        <li>
            <img class="project-img" src="../../../assets/img/background-gausiano.png">
            <div class="caption left-align">
                <h3 class="dark black-text text-blue-grey darken-4">Integração contínua</h3>
                <a href="https://github.com/gerlaneln/FCamara-Gerlaneln" target="_blank"
                    class="btn-floating halfway-fab waves-effect waves-light grey darken-4">
                    <i class="material-icons">code</i>
                </a>
                <span class="caption-list">Java</span>
                <span class="caption-list">GitHub Action</span>
                <span class="caption-list">Heroku</span>
            </div>
        </li>

        <li>
            <img class="project-img" src="../../../assets/img/background-gausiano.png">
            <div class="caption left-align">
                <h3 class="dark black-text text-blue-grey darken-4">Programação avançada back end</h3>
                <a href="https://github.com/gerlaneln/programacao-avancada-backend-gerlane" target="_blank"
                    class="btn-floating halfway-fab waves-effect waves-light grey darken-4">
                    <i class="material-icons">code</i>
                </a>
                <span class="caption-list">HTML</span>
                <span class="caption-list">CSS</span>
                <span class="caption-list">Java Script</span>
                <span class="caption-list">Node JS</span>
                <span class="caption-list">Mongo DB</span>
            </div>
        </li>

        <li>
            <img class="project-img" src="../../../assets/img/projects/incicle.png">
            <div class="caption left-align">
                <h3 class="dark black-text text-blue-grey darken-4">InCicle</h3>
                <a href="https://github.com/gerlaneln/incicle-frontend-test" target="_blank"
                    class="btn-floating halfway-fab waves-effect waves-light grey darken-4">
                    <i class="material-icons">code</i>
                </a>
                <span class="caption-list">HTML</span>
                <span class="caption-list">CSS</span>
                <span class="caption-list">Java Script</span>
                <span class="caption-list">React JS</span>
                <span class="caption-list">Material-UI v.5</span>
            </div>
        </li>

        <li>
            <img class="project-img" src="../../../assets/img/background-gausiano.png">
            <div class="caption left-align">
                <h3 class="dark black-text text-blue-grey darken-4">FCamara</h3>
                <a href="https://github.com/gerlaneln/FCamara-Gerlaneln" target="_blank"
                    class="btn-floating halfway-fab waves-effect waves-light grey darken-4">
                    <i class="material-icons">code</i>
                </a>
                <span class="caption-list">HTML</span>
                <span class="caption-list">CSS</span>
                <span class="caption-list">Java Script</span>
                <span class="caption-list">React JS</span>
                <span class="caption-list">Node JS</span>
                <span class="caption-list">Mongo DB</span>
            </div>
        </li>

        <li>
            <img class="project-img" src="../../../assets/img/background-gausiano.png">
            <div class="caption left-align">
                <h3 class="dark black-text text-blue-grey darken-4">Portifólio Simples</h3>
                <a href="https://github.com/gerlaneln/Portifolio" target="_blank"
                    class="btn-floating halfway-fab waves-effect waves-light grey darken-4">
                    <i class="material-icons">code</i>
                </a>
                <span class="caption-list">HTML</span>
                <span class="caption-list">CSS</span>
                <span class="caption-list">Java Script</span>
            </div>
        </li>

        <li>
            <img class="project-img" src="../../../assets/img/background-gausiano.png">
            <div class="caption left-align">
                <h3 class="dark black-text text-blue-grey darken-4">Gama Start Tech 2021</h3>
                <a href="https://github.com/gerlaneln/proj-gama-git" target="_blank"
                    class="btn-floating halfway-fab waves-effect waves-light grey darken-4">
                    <i class="material-icons">code</i>
                </a>
                <span class="caption-list">HTML</span>
                <span class="caption-list">CSS</span>
                <span class="caption-list">Java Script</span>
                <span class="caption-list">React JS</span>
                <span class="caption-list">Node JS</span>
                <span class="caption-list">Mongo DB</span>
            </div>
        </li>

    </ul>
</div>